{% extends "./proj/base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="center">{{ title }}</h1>

<div class="gamecontainer">

    <div class="information">
        {% if slots > 0 %}
        <p>
            {% for key, value in card %}
            {% if key|last == '♥' or key|last == '♦'  %}
            <h1 style="color: red ;">{{key}}</h1>
            {% else %}
            <h1>{{key}}</h1>
            {% endif %}
                
            {% endfor %}
        </p>
        {% else %}
        <button class="start-b"><a href="{{ url("proj-result") }}"> Räkna ut poäng</a></button>
        {% endif %}
    </div>


    <div class="board">
        <table class="deck-table">
            {% for index in board|batch(5, " ") %}
                <tr>
                    {% for key, value in index %}
                        {% if value == " " %}
                        <td><a href="{{loop.parent.loop.index0 * 5 + loop.index}}"></a></td>
                        {% else %}
                            {% for key, value in value %}
                                {% if key|last == '♥' or key|last == '♦'  %}
                                <td style="color: red ;">{{ key }}</td>
                                {% else %}
                                <td s>{{ key }}</td>
                                {% endif %}
                               
                            {% endfor %}
                        
                        {% endif %}
                        
                    {% endfor %}
            
                </tr>
          
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
