{% extends "base.html.twig" %}

{% block title %}Ändra{% endblock %}

{% block body %}


<form method="post">
    <fieldset >
        <div class="wrapper">
            <div>
                <legend>Ändra Spelare</legend>
                <p>
                    <label>Namn:
                        <input type="text" name="namn" value="{{leaderboard.namn}}" required>
                        
                    </label>
                </p>
                <p>
                    <label>Alias:
                        <input type="text" name="alias" value="{{leaderboard.alias}}" required>
                    </label>
                </p>
                <p>
                    <label>Land:
                        <input type="text" name="land" value="{{leaderboard.land}}" required>
                        
                    </label>
                </p>
                <p>
                    <label>Score:
                        <input type="number" name="score" value="{{leaderboard.score}}" required>
                    </label>
                </p>
            </div>
            <div>
            <p >
                <label for="textarea"  >Bio:
                    <textarea id="textarea" name="bio" rows="8" cols="50"  required>{{leaderboard.bio}}</textarea>
                </label>
            </p>
            </div>
        </div>
        
            <p class="center">
                <input type="submit" value="uppdatera">
            </p>
       
    </fieldset>
</form>


{% endblock %}
