{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<p>Text about Cards.</p>

<p>More text and some links to other pages</p>
<button><a href="{{ url("card-deck") }}"> Deck</a></button>
<button><a href="{{ url("deck-shuffle") }}"> Shuffle</a></button>
<button><a href="{{ url("deck-draw") }}"> Draw</a></button>
<button><a href="{{ url("deck-multiRoll", {numRolls: 5}) }}"> MultiDraw</a></button>
<button><a href="{{ url("deck-deal",{numPlayer: 2, numCards: 5}) }}"> Deal</a></button>


{% endblock %}
