{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<p>Text about Cards.</p>

<p>More text and some links to other pages</p>
<button><a href="{{ url("card-deck") }}"> Deck</a></button>
<button><a href="{{ url("deck-shuffle") }}"> Shuffle</a></button>
<button><a href="{{ url("deck-draw") }}"> Draw</a></button>
<button><a href="{{ url("home") }}"> Deal</a></button>
<button><a href="{{ url("home") }}"> Deck2</a></button>

{# <p><a href="{{ link_to_roll }}">Roll the dice five times</a>.</p> #}

{% endblock %}
