{% extends "base.html.twig" %}

{% block title %}In game{% endblock %}

{% block body %}
<h1 class="center">{{ title }}</h1>

    <div class="center">
       <h3>Poäng: {{ game.player.score}}</h3>
       <h3>Kort: 
       
        {% for kort in game.player.cards %}
            {{ kort }}
        {% endfor %}
        </h3>
        
        {% if game.player.getBust() == false %}    

        <div>
                <button><a href="{{ url("game-start") }}"> Ta Kort</a></button>
                <button><a href="{{ url("game-result") }}"> Stopp</a></button>
        </div>
        {% else %}
        <h1> Du förlorade</h1>
        <div class="center">
            <button><a href="{{ url("game-home") }}"> Tillbaka</a></button>
        </div>

        {% endif %}
    </div>
{% endblock %}
