{% extends "base.html.twig" %}

{% block title %}In game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h3>Game in progress</h3>

{% if game.bust == false %}
    

<div style="gap: 7px; display: flex;">
    <p>
        Take card
    </p>
    <button><a href="{{ url("game-home") }}"> Stop</a></button>

    <div>
        
            <button>
                <a href="{{ url("game-start") }}"> Draw</a>
            </button>
        
            {% for cards in game.getPlayer().getCards() %}
                <td class="cards">{{cards}}</td>
            {% endfor %}
            
    </div>

</div>
<div >
    {% for cards in game.getDeck().get() %}
            <td class="cards">{{cards}}</td>
    {% endfor %}
</div>
{% else %}

<h1>GAME OVER MAN</h1>
<button><a href="{{ url("game-home") }}"> Return</a></button>
{% endif %}

{% endblock %}
