{% extends "base.html.twig" %}

{% block title %}In game{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h3>Game in progress</h3>

<div style="gap: 7px; display: flex;">
    <p>
        Take card
    </p>
    <button><a href="{{ url("game-home") }}"> Stop</a></button>
    {# <button><a href="{{ url("deck-shuffle") }}"> Shuffle</a></button>
    <button><a href="{{ url("deck-draw") }}"> Draw</a></button>
    <button><a href="{{ url("deck-multiRoll", {numRolls: 5}) }}"> MultiDraw</a></button>
    <button><a href="{{ url("deck-deal",{numPlayer: 2, numCards: 5}) }}"> Deal</a></button>
    <button><a href="{{ url("card-deck2") }}"> Joker</a></button>
    <button><a href="{{ url("api-sort") }}"> Get/Sorted</a></button> #}

    {# <form method="post" action="{{ url("api-shuffle") }}">
        <input type="submit" name="name" value="POST/Shuffle" /> 
    </form> #}

    <div>
        
            <button>
                <a href="{{ url("game-start") }}"> Draw</a>
            </button>
        
            {% for cards in game.getPlayer().getCards() %}
                <td class="cards">{{cards}}</td>
            {% endfor %}
            
    </div>

</div>
<div >
    {% for cards in game.getDeck().get() %}
            <td class="cards">{{cards}}</td>
    {% endfor %}
</div>
{% endblock %}
